.button {
  display: flex;
  justify-content: space-around;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  width: 200px;
  align-items: center;
  margin: 0px 5px;
}
.button:hover,
.button:focus-within {
  background-color: cornflowerblue;
}
