.container {
  margin: 0 auto;
  min-width: 300px;
  width: 100%;
  padding: 30px 30px 6px 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  background-color: antiquewhite;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.item {
  padding: 10px;
}
.input {
  width: 100%;
  min-height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}
