.list {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 45px) / 4);
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: rgb(213, 230, 173);
  border-radius: 4px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}
.item:nth-child(4n + 1) {
  margin-left: 0;
}
